html {
}


body { 
	margin:0; 
	background-color: #e5f588;
	font-family: 'Noto Sans KR', sans-serif;
	background: no-repeat center center scroll;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
} 

#page-container {
	width: 45vw;
	position: absolute;
	left: 15%;

	top: 25%;

}

@media (min-width: 768px) {
	.h-70vh {
		max-height: 70vh;
	}
}

.play-button {
	right: 0;
	width: 245px;
	position: relative;
}

.play-text {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translateX(-50%) translateY(-58%);
	transform: translateX(-50%) translateY(-58%);
	font-family: 'Changa', sans-serif;
	font-weight: 600;
	font-size: 30px;
	color: black;
}

nav {
	width: 100vw;
	height: 120px;
	position: relative;
}

#logo {
	padding-bottom: 10px;
}

#welcome-text {
	padding-top: 0px;
	/*font-family: 'Titillium Web', sans-serif;*/
}

#madeby {
	font-weight: 600;
	font-size: 20px;
	font-style: italic;
	color: #e5f588;
}

#welcome {
	
	color: white;
}

#bio {
	font-size: 15px;
	color: white;
	font-weight: 300;
}

.iphone {
	max-height: 70vh;
	max-width: 100%;
}