<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{% block title %}Chance At Life{% endblock %}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
	{% load static %} 
		<link rel="icon" href="{% static 'play/images/icon.png' %}">
		<link href="https://fonts.googleapis.com/css?family=Changa:400,500,600,700&display=swap" rel="stylesheet"> 
		<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"> 
		<link rel="stylesheet" type="text/css" href="{% static 'play/css/style.css' %}"/>
		<script
			src="https://code.jquery.com/jquery-3.4.1.min.js"
			integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
			crossorigin="anonymous">
		</script>
		<script src="{% static 'play/js/videocontrols.js' %}"></script>
</head>

<body>
	{% load static %}

	<div id="video-container">
		<div id="videoholder">
			<video id="video" playsinline="" autoplay="" muted="">
			<source src="{% static 'play/videos/ChanceAtLifelite_qtp.mp4' %}" type='video/mp4'>
			<track label="English" kind="captions" srclang="en" src="{% static 'play/srt/chanceatlife.vtt' %}" default>
			</video>
				
			<input type="image" id="start" src="{% static 'play/images/playbutton.png' %}">

			<div>
				<img id="flag" src="{% static 'play/images/flag.png' %}" alt="Flag">
			</div>
			
			<div id="progressContainer">
				<img id="progress_container" src="{% static 'play/images/progressbar.png' %}" alt="progressbar">
				<div id="myProgress">
					<div id="myBar">
						<p id="progressText">$55</p>
					</div>
				</div>
			</div>

			<div id="prompt">
				<div id="questiondiv">
					<img id="questionbox" src="{% static 'play/images/questionbox.png' %}" alt="questionbox">
					<p id="questions"></p>
				</div>

				<a id="choiceleft">
					<img id="leftchoice" src="{% static 'play/images/leftchoice.png' %}">
					<p id="choice1">Choice 1</p>
					<p id="price1">$10</p>
				</a>
				<audio src="{% static 'play/mp3/select.mp3' %}" autobuffer muted="" id="selectmp3"></audio>
				<a id="choiceright">
					<img id="rightchoice" src="{% static 'play/images/rightchoice.png' %}">
					<p id="choice2">Choice 2</p>
					<p id="price2">$5</p>
				</a>
			</div>

			<div id="timerContainer">
				<div id="timerBar"></div>
			</div>

			<input type="image" id="tempmute" src="{% static 'play/images/clicktounmute.svg' %}" alt="Click to Unmute">

			<div id='controls-container'>

				<div id="video-controls">
					<a href="{% url 'landing' %}"><img src="{% static 'play/images/Chanceatlifelogo.png' %}" alt="Chance At Life Logo" id="logo"></a>
					<input type="range" id="seek-bar" value="0">
					<input type="image" id="skipintro" src="{% static 'play/images/skipintro.png' %}" alt="Skip Intro">
					<input type="image" id="play-pause" src="{% static 'play/images/play-button.svg' %}">
					<div id="muters">
						<input type="range" id="volume-bar" min="0" max="1" step="0.1" value="1">
						<input type="image" id="mute" src="{% static 'play/images/speaker.svg' %}">
					</div>
					<button type="button" id="full-screen">Full-Screen</button>
				</div>
			</div>
		</div>
	</div>	

	<a id="fdbck" href="https://forms.gle/bad6fbbysjKWJcj7A" target="_blank">
		<img id="feedback" src="{% static 'play/images/writing.png' %}" alt="Give Feedback">
		<p id="feedbacktxt">Give feedback</p>
	</a>

	<div class="loader-wrapper">
		<svg>
			<g>
				<path d="M 50,100 A 1,1 0 0 1 50,0"/>
			</g>
			<g>
				<path d="M 50,75 A 1,1 0 0 0 50,-25"/>
			</g>
			<defs>
				<linearGradient id="gradient" x1="0%" y1="0%" x2="0%" y2="100%">
					<stop offset="0%" style="stop-color:#de3abf;stop-opacity:1" />
					<stop offset="100%" style="stop-color:#f5a74a;stop-opacity:1" />
				</linearGradient>
			</defs>
		</svg>
	</div>

	<script>
		$(document.getElementById("video")).on("canplay", setTimeout(function(){
			$(".loader-wrapper").fadeOut("slow");
		}, 2000));
	</script>

</body>
</html>