<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{% block title %}Chance At Life{% endblock %}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
	{% load static %} 
		<link rel="icon" href="{% static 'play/images/icon.png' %}">
		<link href="https://fonts.googleapis.com/css?family=Changa:400,500,600,700&display=swap" rel="stylesheet"> 
		<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"> 
		<link rel="stylesheet" type="text/css" href="{% static 'play/css/style.css' %}"/>
		<script
			src="https://code.jquery.com/jquery-3.4.1.min.js"
			integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
			crossorigin="anonymous">
		</script>
		<script src="{% static 'play/js/videocontrols.js' %}"></script>
</head>

<body>
	{% load static %}

	<div id="video-container">
		
		<video id="video" autoplay="" muted="">
		<source src="{% static 'play/videos/ChanceAtLifelite_qtp.mp4' %}" type='video/mp4'>
		Your browser does not support the video tag.
		</video>
			
		<div id='buttons'>
			<input type="image" id="start" src="{% static 'play/images/playbutton.png' %}">
		</div>
	</div>
			
	<!-- Video Controls -->
	<div id='controls-container'>

		<div id="video-controls">
			<a href="{% url landing %}"><img src="{% static 'play/images/Chanceatlifelogo.png' %}" alt="Chance At Life Logo" id="logo"></a>
			<input type="range" id="seek-bar" value="0">
			<input type="image" id="play-pause" src="{% static 'play/images/play-button.svg' %}">
			<input type="range" id="volume-bar" min="0" max="1" step="0.1" value="1">
			<input type="image" id="mute" src="{% static 'play/images/speaker.svg' %}">
			<button type="button" id="full-screen">Full-Screen</button>
		</div>
	</div>
	
	

	<!-- Question/choice divs -->

	<div id="prompt">
		<img id="questionbox" src="{% static 'play/images/questionbox.png' %}" alt="questionbox" height="100px">
		<p id="questions"></p>

		<div id="choices">
			<input type="image" id="leftchoice" src="{% static 'play/images/leftchoice.png' %}" height="120">
			<input type="image" id="rightchoice" src="{% static 'play/images/rightchoice.png' %}" height="120">
		</div>

		<p id="choice1">Choice 1</p>
		<p id="price1">$10</p>
		<input type="image" id="button1" src="{% static 'play/images/leftchoice.png' %}" height="120">

		<p id="choice2">Choice 2</p>
		<p id="price2">$5</p>
		<input type="image" id="button2" src="{% static 'play/images/rightchoice.png' %}" height="120">

	</div>
	<div>
		<img id="flag" src="{% static 'play/images/flag.png' %}" alt="Flag">
	</div>
	<div id="progressContainer">
		<img id="progress_container" src="{% static 'play/images/progressbar.png' %}" alt="progressbar">
		<div id="myProgress">
			<div id="myBar">
				<p id="progressText">$55</p>
			</div>
		</div>
	</div>

	<div id="timerContainer">
		<div id="timerBar"></div>
	</div>

	<a id="fdbck" href="https://forms.gle/bad6fbbysjKWJcj7A" target="_blank">
		<img id="feedback" src="{% static 'play/images/writing.png' %}" alt="Give Feedback">
		<p id="feedbacktxt">Give feedback</p>
	</a>

	<input type="image" id="tempmute" src="{% static 'play/images/clicktounmute.svg' %}" alt="Click to Unmute" height="150px">

</body>