<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{% block title %}Chance At Life{% endblock %}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	 
		<link rel="icon" href="{% static 'play/images/icon.png' %}">
		<link href="https://fonts.googleapis.com/css?family=Changa:400,500,600,700&display=swap" rel="stylesheet"> 
		<link href="https://fonts.googleapis.com/css?family=Titillium+Web:300,300i,400,400i,600,600i,700,900&display=swap" rel="stylesheet"> 
		<link rel="stylesheet" type="text/css" href="{% static 'play/css/landingstyle.css' %}"/>
</head>
<body >
	<img id="bg" src="{% static 'play/images/bg.png' %}" alt="bg">
	<nav>
		<div id="logo">
			<a href="{% url 'landing' %}"><img src="{% static 'play/images/Chanceatlifelogo.png' %}" alt="Chance At Life Logo" height="70px"></a>
		</div> 

	</nav>
	<div id="page-container">

		<div id="welcome-text">
			<h1 id="welcome">Welcome to Chance At Life!</h1>
			<h4 id="madeby">by Jullian Androkae</h4>
			<p id="bio">It's easy to think that in a place where things are cheaper, insanely low-wages can be adequate. Challenge this assumption with this game, where you live 30 days in the life of a minimum wage worker in my home country of Madagascar. This might not be completely accurate to their day-to-day lives, but I hope for you to gain a better grasp of such a life, which is far from being a game for those who live it off screen.</p>
		</div>

		<div id="play-button">
			<a href="{% url 'index' %}">
				<img id="questionbox" src="{% static 'play/images/questionbox.png' %}" alt="questionbox" width="100%">
				<p id="play-text">Play now</p>
			</a>
		</div>
	
	</div>

	<div>
		<img id="iphone" src="{% static 'play/images/Screenshot.png' %}" alt="screenshot">
	</div>		

	

</body>
</html>